@model ECommerce.Models.DTOs.LoginDTO

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<link rel="stylesheet" href="~/css/LogForm.css" />




<div class="box">
    <form asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h2>Sign in</h2>
        <div class="inputBox">
            <input type="text" required="required" asp-for="Username">
            <span asp-validation-for="Username" class="text-danger"></span>
            <span>Userame</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" required="required" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
            <span>Password</span>
            <i></i>
        </div>
        <div class="links">
            <a href="#">Forgot Password ?</a>
            <a asp-controller="Account" asp-action="Register">Signup</a>
        </div>
        <input type="submit" value="Login">
    </form>
</div>
