@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" lang="en" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LayoutStyle1.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top p-2">
            <a class="navbar-brand" asp-controller="Main" asp-action="Index">
                <img src="~/Images/OP Logo.gif" width="30" height="30">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Contact">Contact</a>
                    </li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Products" asp-action="ViewAllProducts">View All Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Products" asp-action="Create">Add New Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Categories" asp-action="Index">Categories</a>
                        </li>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {

                        <li>
                            <div class="Search-box ">
                                <form method="get" asp-controller="Products" asp-action="Rows">
                                    <div class="input-group field FormWidth">
                                        <input class="form-control search-bar" type="text" name="productname" placeholder="Search for a product" required />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary search-btn" type="submit">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                    }
                </ul>
                <ul class="ms-auto"> <partial name="LoginInfo" /> </ul>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
