body {
    animation: changeBgColor 14s infinite alternate;
    background-color: rgba(45, 225, 30, 0.6);
    transition: background-color 1s ease-in-out;
    position: relative;
}

    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: -1;
    }

@keyframes changeBgColor {
    0% {
        background-color: rgba(45, 225, 30, 0.6);
    }

    12.5% {
        background-color: rgba(30, 225, 213, 0.6);
    }

    25% {
        background-color: rgba(25, 27, 178, 0.6);
    }

    37.5% {
        background-color: rgba(110, 15, 175, 0.6);
    }

    50% {
        background-color: rgba(158, 15, 32, 0.6);
    }

    62.5% {
        background-color: rgba(0, 0, 0, 0.6);
    }

    75% {
        background-color: rgba(193, 38, 183, 0.6);
    }

    87.5% {
        background-color: rgba(35, 36, 42, 0.6);
    }

    100% {
        background-color: rgba(225, 112, 26, 0.6); /* Add more colors as needed */
    }
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}



.book-cover {

    margin-left:30px;
}

.book-cover-template {
    width: 200px;
    height: 300px;
    background-color: burlywood;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

    .book-cover-template img {
        max-width: 100%;
        max-height: 100%;
    }

.book-title {
    font-size: 1.2rem;
    margin-top: 10px;
}

.book-author {
    font-size: 1rem;
    margin-top: 5px;
}
.book-cover-template img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.2s ease-in-out;
}

    .book-cover-template img:hover {
        transform: scale(1.1);
    }


h2 {
color:white;
font-weight:bold;


}